{% extends "master.html" %}

{% block title %}
  Clube Django - Lista com todos os membros
{% endblock %}


{% block content %}

    <!-- <p><a href="/">Página Principal</a></p>
    <hr>

  <h1>Membros</h1>
  
  <ul>
    {% for x in mymembers %}
      <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
    {% endfor %}
  </ul> -->

  <div class="mycard">
    <h1>Membros</h1>
    <ul>
      {% for x in mymembers %}
        <li onclick="window.location = 'details/{{ x.slug }}'">{{ x.firstname }} {{ x.lastname }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}